@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	background-image: url(../img/background.jpeg);
	background-size: cover;
	background-position: center;
	font-family: "Fira Sans", sans-serif;
}

.github-ico {
	position: absolute;
	bottom: 2vh;
	right: 4vw;
	color: #ffffffd7;
	font-size: 40px;
	text-shadow: 3px 3px 6px #0a0a0aec;
}

.flex-conteiner {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0f0f0f93;
}

.app-conteiner {
	width: 450px;
	box-shadow: 0 0 20px #141414bd;
	border-radius: 6px;
	color: #0f0f0f;
}

.header {
	position: relative;
	height: 200px;
	padding-bottom: 30px;
	background-color: #ff3a3af6;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	font-size: 20px;

	//flex
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__p {
		font-size: 16px;
	}

	&__overlay {
		position: absolute;
		bottom: 0;
		height: 50px;
		width: 100%;
		background-color: #fafafa;
		border-top-left-radius: 60px;
		border-top-right-radius: 60px;
	}
}

.main {
	padding: 0 35px 50px 35px;
	background-color: #fafafa;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #070707;

	&__label {
		display: block;
		margin-bottom: 8px;
		font-size: 18px;
	}

	&__options {
		box-sizing: border-box;
		margin-bottom: 22px;
		padding: 6px 10px;
		width: 100%;
		background: none;
		border: 2px solid #b9b9b9;
		border-radius: 5px;
		font-family: "Fira Sans", sans-serif;
	}

	&__btn {
		display: block;
		margin: 10px auto 20px;
		width: 45%;
		padding: 8px;
		background-color: #ff3a3af6;
		font-family: "Fira Sans", sans-serif;
		font-size: 16px;
		letter-spacing: 1px;
		color: #fff;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background-color: darken(#ff3a3af6, 4%);
			box-shadow: 0 0 15px #ff29294f;
		}
	}

	&__info {
		margin-top: 30px;
		text-align: center;
		font-weight: normal;

		&--error {
			color: rgb(255, 111, 44);
		}

		&--cost {
			display: none;
		}

		&--span {
			font-weight: bold;
		}
	}
}
