@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	background-image: url(../img/background.jpeg);
	background-size: cover;
	background-position: center;
	font-family: "Fira Sans", sans-serif;
}

.github-ico {
	position: absolute;
	bottom: 2vh;
	right: 4vw;
	color: #ffffffd7;
	font-size: 40px;
	text-shadow: 3px 3px 6px #0a0a0aec;
}

.flex-conteiner {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0f0f0f93;
}

.app-conteiner {
	width: 470px;
	box-shadow: 0 0 30px #141414ce;
	border-radius: 10px;
	color: #0f0f0f;
}

.header {
	position: relative;
	height: 200px;
	padding-bottom: 30px;
	background-color: #ff3a3af6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #fff;
	font-size: 20px;

	//flex
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__p {
		font-size: 16px;
	}

	&__overlay {
		position: absolute;
		bottom: 0;
		height: 50px;
		width: 100%;
		background-color: #fafafa;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
	}
}

.main {
	padding: 0 10px 30px 10px;
	background-color: #fafafa;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
